.header {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  height: 100vh;

  background-image: url(../images/header-bg-mobile.png);
  background-position: center;
  background-size: cover;

  // @include content-padding-inline;

  @include on-desktop {
      background-image: url(../images/header-bg-dt.png);
  };

  &__title {
    padding-top: 100px;

    font-size: 40px;
    line-height: 100%;
    color: #fff;
    text-align: center;
    letter-spacing: -1,5;

    @include on-tablet {
      font-size: 64px;
  };
  }
}
